:root {
  /* Brand Gradient */
  --brand-gradient: linear-gradient(90deg, #8b5cf6, #3b82f6, #ec4899);

  /* Font Family */
  --font-main: "Poppins", Arial, sans-serif;

  /* Font Sizes */
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 20px;
  --fs-xl: 28px;
  --fs-2xl: 40px;

  /* Spacing */
  --sp-1: 4px;
  --sp-2: 8px;
  --sp-3: 12px;
  --sp-4: 16px;
  --sp-5: 24px;
  --sp-6: 32px;
  --sp-7: 48px;
  --sp-8: 64px;

  /* Border Radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;
  --radius-xl: 24px;

  /* Shadows */
  --shadow-sm: 0 4px 10px rgba(0, 0, 0, 0.12);
  --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.18);
  --shadow-lg: 0 14px 35px rgba(0, 0, 0, 0.25);

  /* Transition */
  --transition-fast: 0.2s ease;
  --transition-mid: 0.35s ease;

  /* Default Theme Colors (Dark Mode) */
  --bg: #0b1220;
  --bg-2: #111a2e;
  --card: rgba(255, 255, 255, 0.05);

  --text: #f8fafc;
  --text-muted: #94a3b8;

  --border: rgba(255, 255, 255, 0.12);

  --muted-border: rgba(255, 255, 255, 0.06);
  --primary: #3b82f6;
  --success: #10b981;
  --danger: #ef4444;
}

body.light {
  --bg: #f8fafc;
  --bg-2: #ffffff;
  --card: rgba(0, 0, 0, 0.04);

  --text: #0f172a;
  --text-muted: #475569;

  --border: rgba(0, 0, 0, 0.1);
  --muted-border: rgba(0, 0, 0, 0.219);

  --shadow-sm: 0 4px 10px rgba(0, 0, 0, 0.06);
  --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 14px 35px rgba(0, 0, 0, 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background: var(--bg);
  color: var(--text);
  transition: var(--transition-mid);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sp-4) var(--sp-7);
    background-color: var(--bg-2);
    border-bottom: 1px solid var(--border);
    box-shadow: var(--shadow-sm);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    background: var(--brand-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: var(--sp-5);
}

.nav-actions a {
    font-size: var(--fs-md);
    transition: var(--transition-fast);
    color: var(--text);
    position:relative;
}

.nav-actions a.contact {
  border: 1px solid var(--muted-border);
  padding: var(--sp-2) var(--sp-4);
  border-radius: var(--radius-md);
  margin-right: var(--sp-4);
}

.nav-actions a.contact i {
  margin-left: var(--sp-2);
  transition: var(--transition-fast);
}

.nav-actions a.contact:hover i {
  transform: translateX(4px);
}

.nav-actions a.contact:hover {
  background: var(--primary);
  color: #fff;
}

.nav-actions a.contact::before {
  display: none;
}

.nav-actions a:hover {
  color: var(--text-muted)
}

.nav-actions a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: var(--primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: var(--transition-fast);
}

.nav-actions a:hover::before {
  transform: scale(1);
}

.theme-toggle {
  width: 80px;
  height: 30px;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: var(--transition-fast);
  box-shadow: var(--shadow-sm);
}

.theme-toggle .knob {
  width: 32px;
  height: 25px;
  background: var(--bg);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: var(--transition-mid);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-md);
  overflow: hidden;
}

.theme-toggle .knob i {
  position: absolute;
  font-size: 16px;
  transition: var(--transition-mid);
}

.theme-toggle .moon {
  opacity: 1;
  transform: scale(1);
  color: var(--primary);
}

.theme-toggle .sun {
  opacity: 0;
  transform: scale(0.5);
  color: #f59e0b;
}

body.light .theme-toggle .knob {
  left: 40px; 
}

body.light .theme-toggle .moon {
  opacity: 0;
  transform: scale(0.5);
}

body.light .theme-toggle .sun {
  opacity: 1;
  transform:  scale(1);
}

/* Hero Section Starts From Here */
.hero {
  width: 100%;
  padding: var(--sp-8) var(--sp-7);
}

.hero-container {
  max-width: 1200px;
  margin: var(--sp-8) auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-7);
}

.hero-content {
  max-width: 550px;
  /* background: red; */
}

.hero-content h1 {
  font-size: var(--fs-2xl);
  letter-spacing: -0.02em;
  margin-bottom: var(--sp-2);
}

.gradient-text {
  background: var(--brand-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content p {
  font-size: var(--fs-lg);
  color: var(--text-muted);
  margin-bottom: var(--sp-5);
}

.hero-content .hero-buttons {
  display: flex;
  gap: var(--sp-4);
  margin-bottom: var(--sp-5);
}

.hero-buttons .btn-primary, .btn-secondary {
  padding: var(--sp-2) var(--sp-5);
  border-radius: var(--radius-md);
  border: 1px solid var(--muted-border);
  background: var(--primary);
  color: var(--text);
  font-size: var(--fs-md);
  transition: var(--transition-fast);
}

.btn-primary:hover, .btn-secondary:hover {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.hero-stats {
  margin-top: var(--sp-5);
  display: flex;
  gap: var(--sp-5)
}

.stat {
  border: 1px solid var(--muted-border);
  padding: var(--sp-2) var(--sp-4);
  border-radius: var(--radius-md);
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: var(--transition-fast)
}

.stat:hover {
  transform: scale(1.05);
  border-color: var(--primary);
  box-shadow: var(--shadow-md);
}

.stat h3 {
  font-size: var(--fs-lg);
  color: var(--primary);
}

.stat span {
  font-size: var(--fs-sm);
  color: var(--text-muted)
}

/* Hero Right section start */
.hero-preview {
  max-width: 450px;
}

.queue-card {
  width: 100%;
  padding: var(--sp-6);
  border-radius: var(--radius-lg);
  background: var(--card);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-md);
  transition: var(--transition-fast)
}

.queue-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg);
}

.queue-card h2 {
  font-size: var(--fs-xl);
  font-weight: 500;
  margin-bottom: var(--sp-4);
  color: var(--text-muted);
}

.queue-card .queue-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--sp-3);
}

.serving {
  color: var(--primary);
}

.join-btn {
  margin-top: var(--sp-4);
  width: 100%;
  padding: var(--sp-3);
  background: var(--primary);
  color: var(--text);
  border: none;
  font-weight: 600;
  border-radius: var(--radius-md);
  font-size: var(--fs-md);
  cursor: pointer;
  transition: var(--transition-fast);
  border: 1px solid var(--muted-border);
}

.join-btn:hover {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* Header & Hero Responsiveness */

/* Responsive Navbar for mobile phones */
.menu-btn {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--sp-4);
  background: var(--bg-2);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);
  padding: var(--sp-4);
  position: absolute;
  top: 70px;
  right: var(--sp-5);
  border-radius: var(--radius-md);
  opacity: 0;
  transform: translateY(-15px) scale(0.95);
  pointer-events: none;
  z-index: 100000;
  transition: 0.3s ease;
}

.mobile-menu a {
  border-bottom: 2px solid var(--muted-border);
  transition: var(--transition-mid);
}

.mobile-menu a:active {
  border-bottom: 2px solid var(--border);
}

.glow {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: var(--brand-gradient);
  filter: blur(120px);
  z-index: -10;
  opacity: 0.6;
}

.glow-1 {
  top: -100px;
  left: -100px;
}

.glow-2 {
  bottom: -100px;
  right: -100px;
}

@media (max-width: 420px) {
  :root {
    --fs-md: 14px;
    --fs-lg: 16px;
    --fs-xl: 20px;
    --fs-2xl: 28px;

    --sp-5: 16px;
    --sp-6: 20px;
    --sp-7: 24px;
    --sp-8: 34px;
  }

  .navbar {
    padding: var(--sp-4) var(--sp-5);
  }

  .hero {
    padding: var(--sp-7) var(--sp-5);
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .hero-buttons a {
    width: 100%;
    text-align: center;
  }

  .hero-stats {
    flex-direction: column;
    width: 100%;
  }

  .stat {
    width: 100%;
    text-align: center;
  }

  .hero-preview {
    max-width: 100%;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  :root {
    --fs-lg: 18px;
    --fs-xl: 22px;
    --fs-2xl: 32px;

    --sp-6: 24px;
    --sp-7: 32px;
    --sp-8: 45px;
  }

  .navbar {
    padding: var(--sp-2) var(--sp-6);
  }

  .hero {
    padding: var(--sp-8) var(--sp-6);
  }

  .logo {
    font-size: var(--fs-xl);
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-stats {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-preview {
    max-width: 100%;
  }

  .queue-card {
    width: 100%;
  }
} 

@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --fs-2xl: 36px;
    --sp-7: 36px;
    --sp-8: 55px;
  }

  .navbar {
    padding: var(--sp-2) var(--sp-4);
  }

  .hero {
    padding: var(--sp-8) var(--sp-5);
  }

  .hero-container {
    gap: var(--sp-4);
  }

  .hero-content {
    max-width: 500px;
  }

  .hero-preview {
    max-width: 400px;
  }

  .queue-card h2 {
    font-size: var(--fs-lg);
  }
}

/* Responsive Navbar For Mobile Phones */
@media (max-width: 550px) {
  .menu-btn {
    display: block;
  }

  .nav-actions a {
    display: none;
  }

  .mobile-menu.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }

  .mobile-menu a {
    font-size: var(--fs-lg);
    margin-bottom: var(--sp-2);
  }

  .theme-toggle {
    height: 20px;
    width: 60px;
  }

  .theme-toggle .knob {
    width: 18px;
    height: 18px;
  }
} 

/* Loader Styles */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-text {
  font-size: var(--fs-2xl);
  font-weight: 700;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.loader-bar {
  width: 0%;
  height: 4px;
  background: var(--primary);
  border-radius: 10px;
}

/* About Section */
.aboutS {
  width: 100%;
  padding: var(--sp-8) var(--sp-7);
  background: var(--bg-2);
}

.about-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-heading {

}